version: '3.8'

services:
  backend:
    build: ./backend
    container_name: devops-backend
    ports:
      - "3001:3001"
    networks:
      - devops-network

  frontend:
    build: ./frontend
    container_name: devops-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - devops-network

networks:
  devops-network:
    driver: bridge
